body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

i {
    font-size: 20px;
}

.bg-menu{
    background-color: #007DAE;
    color: #FFF;
}

.bg-menu a{
    /*text-decoration: none;*/
    color: #FFF !important;
}

.navbar-light .navbar-toggler{
    background-color: #FFF;
}

.title-topbar {
    font-weight: bold;
    font-size: 1.2em;
}

.bg-impar {
    /**color: #8C9797;*/
    background-color: #F1F1F1;
}

.container-carousel {
    margin-top: 56px;
}

.footer-multisem{
    background-color: #007DAE;
    padding: 24px 5px 24px 5px;
    color: #FFF;
    font-size: 14px;
}

.footer-multisem a {
    text-decoration:none;
    color: #FFF;
}

.footer-multisem li {
    padding: 5px;
}

.footer-multisem ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-icon {
    float: left;
    padding-right: 10px; 
}

#firma {
    font-size: 12px;
}

#firma a {
    font-weight: bold;
    font-size: 13px;
    font-stretch: expanded;
}

.bg-firma {
    background-color: #000000;
    color: #FFF;
}

/** media query */

@media only screen and (max-width: 600px){
    .bg-topbar {
        padding: 0 18px 0 19px !important;
    }
}

@media only screen and (min-width: 735px){
    .bg-topbar {
        padding: 0 18px 0 15px !important;
    }
}

@media only screen and (max-width: 320px){
    .container-carousel {
        margin-top: 81px;
    }
}

/**
Colores Corporativos
color: #134B96;
background: #007DAE;
*/