body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

i {
    font-size: 22px;
}

.bg-menu{
    background-color: #007DAE;
    color: #FFF;
}

.bg-menu a{
    /*text-decoration: none;*/
    color: #FFF !important;
}

.navbar-light .navbar-toggler{
    background-color: #FFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #b2d8e6 !important;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    /**border-bottom: 2em;
    border-color: black;
    color: #007DAE;*/
    color:#FFF !important;
    border-bottom:2em !important;
}

.title-topbar {
    font-weight: bold;
    font-size: 1.2em;
}

.bg-impar {
    /**color: #8C9797;*/
    background-color: #F1F1F1;
}

.container-carousel {
    margin-top: 56px;
}

.footer-multisem{
    background-color: #007DAE;
    padding: 30px 5px 30px 5px;
    color: #FFF;
    font-size: 14px;
}

.footer-multisem a {
    text-decoration:none;
    font-weight: bold;
    color: #b2d8e6;
}

.footer-multisem a:hover {
    color: #FFF;
}

.footer-multisem li {
    padding: 5px;
}

.footer-multisem ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-icon {
    float: left;
}

.footer-credit {
    background-color:#00648b;
    padding: 20px;
    color: #FFF;
    font-stretch: expanded;
    font-size: 11px;
}

.footer-credit a {
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    
}

/**
Paleta de colores corporativo

OSCURO
#007dae
#00709c
#00648b
#005779
#004b68
#003e57
#003245
#002534
#001922
#000c11
#000000

CLARO

# 007dae
# 198ab6
# 3297be
# 4ca4c6
# 66b1ce
# 7fbed6
# 99cbde
# b2d8e6
# cce5ee
# e5f2f6
#ffffff


*/


/** media query */

@media only screen and (max-width: 600px){
    .bg-topbar {
        padding: 0 18px 0 19px !important;
    }
}

@media only screen and (min-width: 735px){
    .bg-topbar {
        padding: 0 18px 0 15px !important;
    }
}

@media only screen and (max-width: 320px){
    .container-carousel {
        margin-top: 81px;
    }
}

@media only screen and (max-width: 992px){
    .list-info-company {
        padding-bottom: 24px;
    }
}


/**
Colores Corporativos
color: #134B96;
background: #007DAE;
*/